.character {
  color: white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  h1 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
  }

  .character-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }

  .character-description {
    font-size: 30px;
  }

  .carousel {
    width: 75%;
    height: 100%;

    .react-multi-carousel-item {
      display: flex;
    }
    .character-comics {
      width: 250px;
      height: 250px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.loader,
.character {
  height: calc(100vh - 100px - 10vh);
  display: flex;
  flex-direction: column;
}
