/* FOOTER */
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 25px;

  .red {
    color: red;
  }
  .white {
    color: white;
  }
}
