/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400&display=swap");

.App {
  background-color: black;
  font-family: "Marvel", sans-serif;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  border: 2px solid black;
  box-sizing: border-box;
}

/* MAIN */
main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* border: 2px solid green; */
}
